@use "@/assets/styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.App {
	background-color: $backgroundColor;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 4.2rem;
	color: $primaryColor;
	text-align: center;
}
