// Colors
$primaryColor: #ff006f;
$secondaryColor: #8800ff;
$tertiaryColor: #00ffee;
$caretColor: #222222;
$textColor: #1d1d1d;
$backgroundColor: #ffffff;
$borderColor: #1d1d1d;
$viewColor: rgb(39, 223, 255);
$trashColor: rgb(255, 166, 13);
$dangerColor: orangered;
