@use "@/assets/styles/variables.scss" as *;

@keyframes showDialog {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.view-picture-dialog {
	position: fixed;
	inset: 0;
	background-color: rgba(#000, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: showDialog 0.1s;
}

.dialog {
	position: relative;
	width: 100%;
	max-width: 65vw;
	padding: 10px 14px 28px;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
}

.close-btn {
	display: block;
	margin-left: auto;
	margin-bottom: 12px;
	font-size: 3rem;
	background-color: transparent;

	&:hover {
		color: $dangerColor;
	}
}

.picture {
	width: 100%;

	img {
		max-height: 500px;
		object-fit: contain;
	}
}
